<div class="body">
  <div class="body1 container ms-right">
    <h2 class="apply">Apply Leave</h2>
    <form action="../../assets/submision.png" method="post">
      <div class="form-group">
        <label for="employeeId">Employee ID : <br></label>
        <input type="text" class="form-control" id="employeeId" name="employeeId" placeholder="Enter Employee ID"
          required>
      </div>
      <br>
      <div class="form-group">
        <label for="leavetype">Leave Type : </label>
        <select class="form-control" id="leavetype" name="leavetype" required>
          <option value="" disabled selected>Select </option>
          <option value="Compensatory">Compensatory Off</option>
          <option value="Maternity ">Extended Maternity Leave</option>
          <option value="loss">Loss of Pay</option>
          <option value="marriage">Marriage Leave</option>
          <option value="paid">Maternity Leave Paid</option>
          <option value="previlege">previlege</option>
          <option value="sabbatical">Sabbatical Leave</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="from">Date : </label>
        <input type="date" class="form-control" id="from" name="from" placeholder="From" required>

      </div>
      <br>
      <div class="form-group">
        <label for="email"> Team Email ID : </label>
        <input type="email" class="form-control" name="to" id="to" required>
      </div>
      <br>
      <div class="form-group">
        <label for="reason">Reason for leave</label>
        <textarea name="reason" id="reason" cols="70" rows="2" required></textarea>
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-primary" id="submit" routerLink="/attendance">Submit</button>
        <button id="cancel" type="reset" class="btn btn-primary" routerLink="/attendance">Cancel</button>
      </div>
    </form>
  </div>
</div>