.chart {
    border: 2px;
    width: 636px;
    margin-left: 347px;
}

.background {
    background-color: rgb(246, 249, 255);
}


// cards----------------

.card-title {
    color: rgba(65, 84, 241, 1);
    font-size: 14px;
}

.month {
    color: rgb(199, 204, 247);
    font-size: medium;
}

.image {
    height: 60px;
    width: 70px;
    font-weight: 100;
}

.days {
    color: rgba(65, 84, 241, 1);
    float: right;
    margin-top: 10px;
    // padding: 50px;
}

// .container {
//     margin-left: 20%;
//     margin: 10%;
// }

.main {
    background-color: white;
    grid-gap: 10px;
    border: 1px;
    padding: 15px;
    border-radius: 8px;

}
.cards{
    // margin-left: 350px;
    padding-left: 260px;
    padding-bottom: 20px;
    
}

#dashboard1{
    font-size: 18px;
    color:  rgba(65, 84, 241, 1);
    padding-top: 10px;
}